<%inherit file="body.html"/>
<script language="javascript">
    $(document).ready(
        function() {
            $('#list li:even a').addClass('evenrow');
         }
    );
</script>

<style>
    body {
        margin:0;
        padding:0;
        background-color:#eeeeee;
    }
</style>

<h2>${c.artist} <a onclick="addAllArtistAlbums('${h.escape_js(c.artist)}')" style="cursor:pointer" title="add all albums"><img src="/img/add.png" /></a></h2>

<div id="artistalbumart">
	% if len(c.album_imgs) > 0:	
		% for i in c.album_imgs[:6]:
			<a style="cursor:pointer" onclick="albumTracks('${h.escape_js(c.artist)}','${h.escape_js(i['album'])}')"><img src="${i['imgurl']}" style="width:45px;height:45px" /></a>
		% endfor
	% endif
</div>

<div id="container-artists">
    <ul id="list">
        % for a in c.albums:
			<%
				album_utf8 = a.decode('utf-8')
				if album_utf8 == c.album:
					addclass = 'class=activerow'
				else:
					addclass = ''
			%>
            <li><a onclick="window.parent.addAlbum('${h.escape_js(c.artist)}','${h.escape_js(album_utf8)}')"><img src="/img/add.png" title="queue entire album" style="float:left;margin-right:5px;" /></a><a ${addclass} onclick="albumTracks('${h.escape_js(c.artist)}','${h.escape_js(album_utf8)}')">${album_utf8}</a></li>
        % endfor
    </ul>
</div>

