## vim: set tabstop=4: set shiftwidth=4: set expandtab
<%inherit file="body.html"/>
<script language="javascript">
    $(document).ready(
        function() {
            $('#list li:odd a').addClass('oddrow');
            $('#list li:even a').addClass('evenrow');
        }
    );
</script>

<style>
    body {
        margin:0;
        padding:0;
    }
</style>

<div id="container-artists">
    <ul id="list">
        <a name='jump#'></a>
        <% lastlead = '' %>

        % for a in c.artists:
            <%
				fixed_artist = a.decode('utf-8')
				if a.startswith(('The ','THE ','the ')):
					firstchar = fixed_artist[4].lower()
				else:
					firstchar = fixed_artist[0].lower()
            %>  
            <li>
                % if firstchar != lastlead:
                    <a name="jump${firstchar}"></a>
                % endif
                <a onclick="artistAlbums('${fixed_artist.replace("'","\\'")}')">${fixed_artist}</a>
            </li>
            <% lastlead = firstchar %>
        % endfor
    </ul>
</div>
