<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">  
<head>
    <style type="text/css">
        @import '${config.get('wwwpath')}/css/styles.css';
        @import '${config.get('wwwpath')}/css/jquery-ui-themeroller.css';
        @import '${config.get('wwwpath')}/css/jquery.lightbox-0.5.css';
    </style>
    <script type="text/javascript" language="javascript" src="${config.get('wwwpath')}/js/theory.js"></script>
    <script type="text/javascript" language="javascript" src="${config.get('wwwpath')}/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="${config.get('wwwpath')}/js/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript" src="${config.get('wwwpath')}/js/jquery.lightbox-0.5.js"></script>
    <title>theory</title>
</head>
<body>
${self.body()}
</body>
</html>
