<%inherit file="body.html"/>
<script language="javascript">
    $(document).ready(function() {
                        if ($('#errors').children().length > 0) 
                            $('#errors').addClass('kolored');
                     });
</script>
<style>
    body {
        background-color:#555555;
    }

    #configtable td {
        color:white;
    }

    a:link {color:#dedede}
    a:visited {color:#dedede}


    .error-message {
        color:white;
    }

    .kolored {
        width:400px;
        background-color:red;
        padding:5px;
    }
</style>
% if tmpl_context.firsttime:
    <div style="color:white;margin:auto;font-weight:bold;margin-bottom:15px">please take a moment to configure theory</div>
% endif

% if tmpl_context.noconnection:
    <div style="background-color:red;padding:6px;width:400px;color:white;margin:auto;font-weight:bold;margin-bottom:15px">unable to connect to MPD server</div>
% endif

<div id="errors">
    % if tmpl_context.error:
        % if tmpl_context.type == 'save':
            <div class="error-message">error saving configuration file. please check the permissions</div>
        % endif
    % endif
    <form:error name="server" format="default">
    <form:error name="port" format="default">
    <form:error name="password" format="default">
</div>

<form action="/saveconfig" method=post>
<table cellspacing=0 cellpadding=3 id="configtable">
    <tr>
        <td align=right>
            MPD server host:</td>
        <td>
            ${h.html.tags.text('server', None)}</td>
    </tr>
    <tr>
        <td align=right>
            MPD server port (usually 6600):</td>
        <td>
            ${h.html.tags.text('port', None, size=5)}</td>
    </tr>
    <tr>
        <td align=right>
            MPD server password:</td>
        <td>
            ${h.html.tags.text('password', None, size=25)}</td>
    </tr>
    <tr>
        <td align=right>
            theory web password:</td>
        <td>
            ${h.html.tags.text('webpassword', None, size=25)}</td>
    </tr>
    <tr>
        <td align=right>
            web interface stops refreshing after ~20minutes of inactivity:</td>
        <td>
            ${h.html.tags.checkbox('timeout', value=True, checked=True)}</td>
    </tr>
    <tr>
        <td align=right>
            Amazon Developer Key:</td>
        <td>
            ${h.html.tags.text('awskey', None, size=30)}<br />
            (for automatic downloading of album art)
        </td>
    </tr>
    <tr>
        <td align=right>
            Amazon Developer Key (Secret):</td>
        <td>
            ${h.html.tags.text('aws_secret', None, size=45)}<br />
        </td>
    </tr>
    <tr>
        <td align=right>
            Default search type:</td>
        <td>
            ${h.html.tags.select('default_search', None, app_globals.searchterms, id="default_search", style_="margin-left:0px")}</td>
    </tr>
    % if tmpl_context.firsttime == '0':
    <tr>
        <td align=right>
            outputs:</td>
        <td>
            % for o in tmpl_context.outputs:
                ${h.html.tags.checkbox('outputs-%s.enabled' % o['outputid'], value=o['outputid'], checked=True, label=o['outputname'])}<br />
            % endfor
        </td>
    </tr>
    % endif
    <tr>
        <td align=center colspan=2>
            <input type=submit name=action value="save config" style="border:1px solid black;background-color:limegreen" />
            <input type=submit name=cancel value="cancel" style="border:1px solid black;background-color:#cccccc" />
        </td>
    </tr>
</table>

</form>

<div style="color:white;margin-top:25px">sign up for an Amazon Developer Key at <a href="https://aws-portal.amazon.com/gp/aws/developer/registration/index.html" target="_blank">https://aws-portal.amazon.com/gp/aws/developer/registration/index.html</a></div>
