<%inherit file="body.html"/>
<script language="javascript">
    $(document).ready(function() {
                        % if c.random_tracks:
                            $('#randomoptions').hide();
                        % endif

                        $('span.songtitle').click(function() {
                                                    $(this).parent().children('input[type=checkbox]').attr('checked',!$(this).parent().children('input[type=checkbox]').attr('checked'));
                                                 });

                        $('#action').click(function() {
                                            if ($('#incex').val() == 'include' && !$('#genres').val()) {
                                                alert('"Include Genres" selected.  Please select at least one genre to include in the randomization');
                                                return false;
                                            }
                                          });
                      });
</script>
<style>
    body {
        background-color:#eee;
    }

    #list li input {
        padding:0;
        margin:0;
    }

    #list li span {
        cursor:pointer;
    }
</style>

<form action="/randomizer" method="get">
<table cellspacing=4 cellpadding=2 id="randomoptions">
    <tr>
        <td class="label" valign="top" rowspan="2">
            % if len(c.genres) > 0:
            <fieldset>
                <legend for="genres">
                    ${h.html.tags.select('incex',c.incex,['exclude','include'],id='incex')}
                    genres
                </legend>
                ${h.html.tags.select('genres',c.selected_genres,c.genres,size=6,multiple=True,id='genres')}
            </fieldset>
            % endif
        </td>
        <td>
            <fieldset>
                <legend>quantity</legend>
                ${h.html.tags.text('quantity',c.quantity,size=4)}
            </fieldset>
        </td>
    </tr>
    <tr>
        <td>
           ${h.html.tags.checkbox('excludelive',1,checked=c.exclude_live)}
            attempt to exclude live recordings<br />
            <input type="submit" value="randomize!" class="orange ui-state-default ui-corner-all" name="action" id="action" /></td>
    </tr>
</table>
</form>

<hr />

% if c.random_tracks:
    <a onclick="$('#randomoptions').toggle()" id="randomtoggle" style="cursor:pointer;text-decoration:underline;color:steelblue">show/hide search options</a>
% endif

% if c.random_tracks:
    <form method="post" action="/add_random" style="margin-top:5px">
    <input type="submit" value="add selected to playlist" class="green" />
    <ul id="list">
    % for t in c.random_tracks:
        <%
            if 'artist' in t and 'album' in t and 'title' in t:
                display_title = "%s - %s - %s (%s)" % (t['artist'],t['album'],t['title'],t.get('genre',''))
            else:
                display_title = t['file']
        %>
        <li>
            ${h.html.tags.checkbox('file',t['file'],checked=True)}
            <span class="songtitle">${display_title}</span>
        </li>
    % endfor
    </ul>
    <input type="submit" value="add selected to playlist" class="green" />
    </form>
% endif
